* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


    /* Navigation Bar */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  position: sticky;
  background-color: #F1F1F1;
  top: 0;
  z-index: 2;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 12%;
  right: 0;
  z-index: 3;
  background-image: linear-gradient(to bottom, #30336b, #335893, #337eb9, #39a6dc, #4bcffa);;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.5s;
  display: none;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  padding: 30px 0 30px 30px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: #2F363F;
}
header button {
  color: #24252a;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  margin-left: 2rem;
  border: 1px solid #000;
}

header h1 {
  color: #2F363F;
  position: absolute;
  left: 10%;
  letter-spacing: 5px;
  top: 30%;
}

#menu {
  width: 30px;
  height: 25px;
  display: none;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.bar {
  height: 4px;
  width: 100%;
  background-color:  #2F363F;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}
.change .bar {
  background-color:  #2F363F;
}
.change #bar1 {
  transform: translateY(3px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-5px) rotate(45deg);
}
.change #bar2 {
  opacity: 0;
}
nav li a:hover {
  font-weight: bold;
}

.banner{
  height: 600px;
  background-color: #2F363F;
  width: 100%;
  position: relative;
  z-index: 1;
}
.banner .socialBox{
  height: 600px;
  width: 50px;
  background-image: linear-gradient(to bottom, #30336b, #335893, #337eb9, #39a6dc, #4bcffa);
  opacity: 0.7;
}
.banner .socialBox i{
  color: #fff;
  font-size: 35px;
  margin-left: 5px;
  margin-top: 10px;
  
}
.banner .bannerTxt{
  height: 600px;
  width: 50%;
  background-color: #F1F1F1;
  position: absolute;
  left: 0;
}
.banner .bannerTxt h1{
  position: absolute;
  top: 5%;
  left: 20%;
  font-weight: bold;
  font-size: 60px;
}
.banner .bannerTxt h1:nth-child(2){
  position: absolute;
  top: 17%;
  left: 20%;
  font-weight: bold;
  font-size: 60px;
}
.banner .bannerTxt p {
  position: absolute;
  top: 34%;
  left: 20%;
  text-align: left;
  font-size: 16px;
  /* font-weight: bold; */
  width: 50%;
  /* color: #0A3D62; */
}

.banner .bannerTxt button{
  position: absolute;
  top: 48%;
  left: 20%;
  padding: 10px 25px;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #30336b, #335893, #337eb9, #39a6dc, #4bcffa);
}
.banner .bannerTxt h3{
  position: absolute;
  top: 70%;
  left: 20%;
}
.banner .bannerTxt p:last-child{
  position: absolute;
  top: 77%;

}
.banner .bannerImg{
  height: 600px;
  width: 50%;
  right: 0;
  position: absolute;
  background-color: #F1F1F1;
}
.banner .bannerImg img{
  height: 500px;
  width: 700px;
  right:  20%;
  top: 4%;
  position: absolute;
}


.about{
  height: 530px;
  width: 100%;
  background-color: #fff;
  position: relative;
}
.about .aboutImg{
  height: 500px;
  width: 50%;
  left: 0;
  background-color: #fff;
  position: absolute;
}
.about .aboutImg img{
  height: 450px;
  transition: 0.3s all ease-in-out; 
  top: 10%;
  left: 40%;
  position: absolute;
}
.about .aboutImg img:hover{
  transform: scale(1.1); 
}
.about .aboutTxt{
  height: 500px;
  width: 50%;
  right:  0;
  background-color: #fff;
  position: absolute;
}
.about .aboutTxt h1{
  position: absolute;
  top: 10%;
  font-size: 50px;
  left: 10%;
}
.about .aboutTxt p:nth-child(2) {
  width: 70%;
  position: absolute;
  top: 28%;
  left: 10%;
}
.about .aboutTxt p:last-child{
  width: 70%;
  position: absolute;
  top: 65%;
  left: 10%;
}
.career{
  height: auto;
  width: 100%;
  background-color: #F1F1F1;
  position: relative;
}
.career h1{
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 50px;
}
.career p {
  width: 50%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
}
.careerWhy h1{
  font-size: 35px;
  position: absolute;
  top: 50%;
}
.parents{ width: 80vw; height: auto; margin: auto;
  display: flex;  justify-content: space-around;
  flex-wrap: wrap; transition: all 0.2 linear;
  
}
.child{
  height: 200px;
  background:#fff;
  box-shadow: 0 0 20px #bac3c3;
  flex:1 1 200px;
  margin: 20px;
  margin-top: 340px;
}

.child:first-child{
  background: #fff;
}
.child:first-child p{
  position: absolute;
  top: 68%;
  left: 23%;
  font-weight: bold;
}
.child:first-child p:nth-child(2){
  width: 20%;
  position: absolute;
  top: 80%;
  font-weight: lighter;
}
.child:nth-child(2) p{
  position: absolute;
  top: 68%;
  font-weight: bold;
  /* left: 50%; */
}
.child:nth-child(2) p:nth-child(2){
  width: 20%;
  font-weight: lighter;
  top: 80%;
}
.child:last-child{
  background: #fff;
}
.child:last-child p:nth-child(1) {
  position: absolute;
  top: 68%;
  left: 75%;
  font-weight: bold;
}
.child:last-child p:nth-child(2){
  width: 20%;
  font-weight: lighter;
  top: 80%;
  left: 77%;
}
.portfolio{
  height: 600px;
  width: 100%;
  background-color: #F1F1F1;
}
.portfolio h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  font-size: 50px;
}
.portfolio .videoOne{
  margin-top: 100px;
  margin-left:130px ;
}
.portfolio .videoTwo{
  margin-top: 100px;
  margin-left:50px ;
}
.footer{
  height: 50px;
  width: 100%;
  background-color: cadetblue;
  color: #fff;
 line-height: 50px;
 text-align: center;
 font-weight: bolder;
  bottom: 0;
}

@media (max-width: 768px) {
  header h1 {
    color:  #2F363F;
    font-size: 25px;
    left: 10%;
    top: 30%;
  }
  header p {
    font-size: 16px;
    left: 20%;
    top: 45%;
  }
  .nav_links {
    display: none;
  }
  header button {
    display: none;
  }
  #menu {
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    
  }

  .sidenav {
    display: block;
  }
}

@media (max-width: 480px){
  .socialBox{
    display: none;
  }
  .banner .bannerTxt{
    width: 100%;
    
  }
  .banner .bannerTxt h1{
    font-size: 40px;
    left: 25%;
  }
  .banner .bannerTxt h1:nth-child(2){
    font-size: 40px;
    left: 35%;
    top: 14%;
  }
  .banner .bannerTxt p{
  top: 28%;
   width: 85%;
   left: 7%;
   text-align: center;
  }
  .banner .bannerTxt button{
   width: 50%;
   top: 45%;
   left: 25%;
   }
   .banner .bannerTxt h3{
    top: 65%;
    left: 30%;
  }
  .banner .bannerTxt p:last-child{
   
    top: 72%;
  
  }
 .banner .bannerImg{
   width: 100%;
   top: 91%;
   height: 430px;
 }
 .banner .bannerImg img{
   height: 350px;
   width: 350px;
   left: 5%;
   top: 0%;
 }

 .about .aboutImg{
   width: 100%;
   background-color: #fff;
   top: 71%;
 }

 .about .aboutImg img{
   position: absolute;
   top: 10%;
   left: 10%;
   
 }
 .about .aboutTxt{
   width: 100%;
   top: 165%;
   position: absolute;
   background-color: #fff;
 }
 .about .aboutTxt h1{
font-size: 40px;
left:25%;
top: 5%;
 }
 .about .aboutTxt p:nth-child(2) {
   width: 80%;
   top: 20%;
 }
 .about .aboutTxt p:last-child{
   top: 80%;
   width: 80%;
 }
 .career{
   top: 325%;
   position: absolute;
 }
 .career h1{
   top: 9%;
 }
 .career p {
   top: 18%;
   width: 75%;
 }
 .careerWhy h1{
   top: 28%;
  font-size: 20px;
 }
 .child:first-child p {
   top: 37%;
   left: 49%;
   position: absolute;
 }
 .child:first-child p:nth-child(2){
   position: absolute;
   top: 44%;
   width: 50%;
 }
 .child:nth-child(2) {
  margin-top: 10px;
 }
 .child:nth-child(2) p{
  top: 60%;
  left: 49%;
 }
 .child:last-child{
   margin-top: 10px;
 }
 .child:nth-child(2) p:nth-child(2){
  position: absolute;
  top: 67%;
  width: 50%;
 }
 .child:last-child p:nth-child(1){
  top: 82%;
  left: 49%;
 }
 .child:last-child p:nth-child(2){
  position: absolute;
  left: 50%;
  top: 89%;
  width: 50%;
 }
 

/* .container{
  margin-left: -80px;
  top: 300%;
  /* position: absolute; */

.contact{
  height: 500px;
  width: 100%;
  position: absolute;
  top: 478%;
  background-color: #fff;
}

.container{
  margin-left: -75px;
  top: -10%;
  height: 550px;
}
.portfolio{
  position: absolute;
  top: 582%;
  width: 100%;
}
.portfolio .videoOne{
  height: 500px;
  width: 400px;
  margin-left: -25px;
  margin-top: 30px;
}
.portfolio .videoTwo{
  height: 500px;
  width: 400px;
  margin-left: -25px;
  margin-top: -150px;
}
.footer{
  position: absolute;
  top: 710%;
}
}





.contactHeader{
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}


.container {
	background-color: #fff;
	border-radius: 5px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
  width: 768px;
  left: 20%;
  margin-top: 80px;
	max-width: 100%;
	min-height: 480px;
  min-width:370px;
}

h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
}

.left-container {
  flex:1;
  height:480px;
  background-color: cadetblue;
}
.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: #fff;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color:#fff;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  height:50%;
  width:80%;
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid cadetblue;
}

.sbBtn {
	border-radius: 20px;
	border: 1px solid #00b4cf;
	background-color: #00b4cf;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
  padding: 12px 45px;

	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }
  .lg-view {
    display:none;  
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}
